.container-home {
  //   border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  //   min-height: 100vh;
  .conten-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    // border: 4px green solid;
    padding: 0px 22px;
    min-height: 100vh;
    .container-logo {
      //   border: 2px salmon solid;
      display: flex;
      height: 220px;
      overflow: auto;
      margin-top: 32px;
    }
    .container-info {
      //   border: solid 3px red;
      margin-top: 36px;
      display: flex;
      //   justify-content: space-between;

      .conten-info {
        // border: solid 3px blue;
        margin-right: 36px;
        h1 {
          font-size: 46px;
          color: $font-color-primary;
        }
        p {
          margin-top: 22px;
          color: $font-color-primary;
          font-size: 26px;
          text-align: justify;
        }
      }
      .container-image-hp {
        // border: solid 3px rgb(0, 255, 21);

        .image-hp {
          width: 420px;
          //   width: 100%;
        }
      }
    }
  }
}
